name: Deploy to AKS

on:
#  workflow_run:
#    workflows: [ "Build and Publish Docker Images" ]
#    types: [ completed ]
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
#    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    env:
      IMAGE_CADASTRO: pedrobaraof/fiap.5nett.contatos-cadastro
      IMAGE_CONSULTA: pedrobaraof/fiap.5nett.contatos-cadastro
      TAG: latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      #      - name: Set TAG
      #        run: |
      #          if [ "${{ github.event.workflow_run.head_branch }}" = "main" ]; then
      #            echo "TAG=latest" >> $GITHUB_ENV
      #          else
      #            echo "TAG=${{ github.event.workflow_run.head_sha }}" >> $GITHUB_ENV
      #          fi

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set AKS context
        uses: azure/aks-set-context@v2
        with:
          resource-group: ${{ secrets.AKS_RESOURCE_GROUP }}
          cluster-name: ${{ secrets.AKS_CLUSTER_NAME }}

      - name: Make apply script executable
        run: chmod +x deploy/k8s/apply.sh

      - name: Apply Kubernetes manifests (ordered via script)
        run: |
          if [ -f deploy/k8s/apply.sh ]; then
            ./deploy/k8s/apply.sh
          else
            echo "::error::`deploy/k8s/apply.sh` não encontrado"
            exit 1
          fi

      - name: Update deployment images
        run: |
          kubectl -n contatos-app set image deployment/cadastro-contatos-api cadastro-contatos-api=${IMAGE_CADASTRO}:${TAG} --record || true
          kubectl -n contatos-app set image deployment/consulta-contatos-api consulta-contatos-api=${IMAGE_CONSULTA}:${TAG} --record || true

      - name: Wait for rollouts
        run: |
          kubectl -n contatos-app rollout status deployment/cadastro-contatos-api --timeout=120s || kubectl -n contatos-app rollout restart deployment/cadastro-contatos-api
          kubectl -n contatos-app rollout status deployment/consulta-contatos-api --timeout=120s || kubectl -n contatos-app rollout restart deployment/consulta-contatos-api
